.page-section-one-child {
    display:grid;
    grid-template-columns: 3fr 1fr; /* 3/4 and 1/4 width */
    gap: 20px; /* Adjust the gap between the containers */
    margin-top: 0px;
  }
  .text-container {
    justify-content: center;
    margin: 10px;
    padding-left: 15px;
    padding-right: 35px;
    transform: translate(0%,2%);
  }
  .big_string{
    justify-content: center;
    padding-top: 10px;
    transform: translate(0%,100%);
  }

  .small_string{
    justify-content: center;
    padding-top: 10px;
    transform: translate(0%,-100%);
}

.description{
  padding: auto;
  padding-right: 5px;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transform: translate(0%,1%);
}

.team-members-button {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  transform: translate(-3%,-200%);
}

.transparent-button:hover {
  background-color: white;
  color: black;
}